<div class="container">
<h1>Current Item Prices</h1><br/>
<div class="row">  
    <div class="col s2 offset-s10">
    <%= link_to "New Item Price", new_item_price_path, class:"waves-effect waves-light btn" %>
</div>
</div>
<% if @active_items.blank? %>
    <div>
        <h4>No Available Item Prices</h4>
        <table class ="highlight">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>

                <tr>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>

        </table>
    </div>

<% else %>
    <h4>Available Item Prices</h4>
    <table class ="highlight">
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Category</th>
            <th>Inventory</th>
        </tr>

        <% @active_items.each do |price| %>
            <tr>
                <td><%= link_to price.item.name, item_path(price.item_id)%></td>
                <td><%= number_to_currency(price.price, precision: 2) %></td>
                <td><%= price.start_date %></td>
                <td>
                    <% if price.end_date.nil? %>
                        <%= 'N/A' %>
                    <% else %>
                        <%= price.item.inventory_level %>
                    <% end %>
                </td>
            </tr>
        <% end %>

    </table>
<% end %>
<br/>
</div>