<div class="container">
<h1>Recent Purchases</h1>

<div class="row">  
    <div class="col s9">
        <h4>Available Item Quantity</h4>
    </div>

    <div class="col s3" id = "align_bottom">
        <%= link_to "New Purchase", new_purchase_path, class:"waves-effect waves-light btn"%>
    </div>
</div>

<% if @purchases.blank? %>
    <div>
        <h4>No Purchases</h4>
        <table class ="highlight">
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Date</th>
            </tr>

                <tr>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>

        </table>
    </div>

<% else %>
    
    <table class ="highlight">
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Date</th>
        </tr>

        <% @purchases.each do |p| %>
            <tr>
                <td><%= link_to p.item.name, item_path(p.item_id)%></td>
                <td><%= p.quantity %></td>
                <td><%= p.date.strftime("%m/%d/%y") %></td>
            </tr>
        <% end %>
    </table>

    <br/>
    <span class = "paginate">
        <%= will_paginate @active_items, :previous_label => "Prev&nbsp;", :next_label => "&nbsp;Next" %>
    </span>

<% end %>


</div>