<h2>New Purchase</h2>

<%= form_for(@purchase)do |f| %>
    <% if @purchase.errors.any? %>
        <div id = "error">
        <h2><%= pluralize(@purchase.errors.count, "error") %> Prohibit this purchase from being saved.</h2>
        
        <ul>
            <% @purchase.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

<fieldset>
<div class="row">
    <div class="input-field col s12">
      <%= f.label :name %><br/>
      <%= f.select :item_id, get_item_options, {include_blank: "Select Item Name"}, {:class => "browser-default"} %>
    </div>
</div>

<div class="row">
<form class="col s12">
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :quantity %><br/>
      <%= f.text_field :quantity %>
    </div>
  </div>
</form>
</div>


<div class="row">
    <%= f.submit 'Create Purchase' %>
</div>

</fieldset>

<% end %>