<h1>Reorder List</h1>

<% if @boards.blank? && @pieces.blank? && @clocks.blank? && @supplies.blank? && @inactive_items.blank? %>
    <div>
        <p>There are no items in the system at this time </p>
    </div>

<% else %>
    <h2>Reorder</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Inventory Level</th>
            <th>Reorder Level</th>
        </tr>

        <% @boards.need_reorder.each do |board| %>
            <tr>
                <td><%= link_to board.name, item_path(board)%></td>
                <td><%= board.inventory_level %></td>
                <td><%= board.reorder_level %></td>
            </tr>
        <% end %>

        <% @pieces.need_reorder.each do |piece| %>
            <tr>
                <td><%= link_to piece.name, item_path(piece)%></td>
                <td><%= piece.inventory_level %></td>
                <td><%= piece.reorder_level %></td>
            </tr>
        <% end %>

        <% @clocks.need_reorder.each do |clock| %>
            <tr>
                <td><%= link_to clock.name, item_path(clock)%></td>
                <td><%= clock.inventory_level %></td>
                <td><%= clock.reorder_level %></td>
            </tr>
        <% end %>

        <% @supplies.need_reorder.each do |supply| %>
            <tr>
                <td><%= link_to supply.name, item_path(supply)%></td>
                <td><%= supply.inventory_level %></td>
                <td><%= supply.reorder_level %></td>
            </tr>
        <% end %>

    </table>
<% end %>