<div class="container">
<h1>Items Index Page</h1><br/>

<% if @boards.blank? && @pieces.blank? && @clocks.blank? && @supplies.blank?  && @inactive_items.blank? %>
    <div>
        <p>There are no items in the system at this time </p>
    </div>

<% else %>
    
    
    <h2>Available Items</h2>
    <table class ="highlight">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Inventory</th>
        </tr>

        <% @boards.each do |board| %>
            <tr>
                <td><%= link_to board.name, item_path(board)%></td>
                <td><%= number_to_currency(board.current_price, precision: 2) %></td>
                <td><%= board.category.sub(/^(.)/) { $1.capitalize } %></td>
                <td><%= board.inventory_level %></td>
            </tr>
        <% end %>


        <% @pieces.each do |piece| %>
            <tr>
                <td><%= link_to piece.name, item_path(piece)%></td>
                <td><%= number_to_currency(piece.current_price, precision: 2) %></td>
                <td><%= piece.category.sub(/^(.)/) { $1.capitalize } %></td>
                <td><%= piece.inventory_level %></td>
            </tr>
        <% end %>


        <% @clocks.each do |clock| %>
            <tr>
                <td><%= link_to clock.name, item_path(clock)%></td>
                <td><%= number_to_currency(clock.current_price, precision: 2) %></td>
                <td><%= clock.category.sub(/^(.)/) { $1.capitalize } %></td>
                <td><%= clock.inventory_level %></td>
            </tr>
        <% end %>


        <% @supplies.each do |supply| %>
            <tr>
                <td><%= link_to supply.name, item_path(supply)%></td>
                <td><%= number_to_currency(supply.current_price, precision: 2) %></td>
                <td><%= supply.category.sub(/^(.)/) { $1.capitalize } %></td>
                <td><%= supply.inventory_level %></td>
            </tr>
        <% end %>

    </table>
    <br/>
    <h2>Inactive Items</h2>
    <table class ="highlight">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Inventory</th>
        </tr>

        <% @inactive_items.each do |inactive| %>
            <tr>
                <td><%= link_to inactive.name, item_path(inactive)%></td>
                <td><%= inactive.item_prices.current.chronological.first %></td>
                <td><%= inactive.category.sub(/^(.)/) { $1.capitalize } %></td>
                <td><%= inactive.inventory_level %></td>
            </tr>
        <% end %>

    </table>
<% end %>

<%= link_to "New Item", new_item_path, class:"waves-effect waves-light btn" %>
</div>