
<div class = "container">
<h2>New Item</h2>
<%= simple_form_for(@item)do |f| %>
  <% if @item.errors.any? %>
    <div>
      <p>can't be blank</p>
    </div>
  <% end %>
    
<fieldset>
<div class="row">
    <div class="input-field col s12">
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </div>
</div>

<div class="row">
<form class="col s12">
    <div class="input-field col s12">
      <%= f.label :description %><br/>
      <%= f.text_field :description %>
    </div>
</form>
</div>


<div class="row">
    <div class="input-field col s6">
        <%= f.label :category %><br/><br/>
        <%= f.select :category, catrgory_selection,  {include_blank: "Select Item Category"}, {:class => "browser-default"} %>
        
    </div>

    <div class="input-field col s6">
      <%= f.label :color %><br/>
      <%= f.text_field :color %>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
      <%= f.label :weight %><br/>
      <%= f.text_field :weight %>
    </div>
</div>

<div class="row">
    <div class="input-field col s6">
      <%= f.label :inventory_level %><br/>
      <%= f.text_field :inventory_level %>
    </div>

    <div class="input-field col s6">
      <%= f.label :reorder_level %><br/>
      <%= f.text_field :reorder_level %>
    </div>
</div>

<div class="row">
  <div class="col s2 offset-s8">
    <%= f.submit "Add Item", class:"waves-effect waves-light btn" %>
  </div>
    <div class = "col s1">
    <%= link_to "Cancel", items_path, class:"waves-effect waves-light btn" %>
    </div>
</div>

</fieldset>
<% end %>



</div>

<br/>